CONFIG_LOG_BOOTLOADER_LEVEL=2
CONFIG_ESPTOOLPY_BAUD=2000000
CONFIG_LOG_DEFAULT_LEVEL=2

CONFIG_MEMORYSAVER_MEASUREMENTS=8
CONFIG_MEMORYSAVER_SAMPLES=12
CONFIG_BTS_SAMPLE_PERIOD_SEC=600
CONFIG_BTS_BULK_SEND=6

CONFIG_BTS_WIFI_SSID="nickoff"
CONFIG_BTS_WIFI_PASSWORD="ititytno"

CONFIG_BTS_MAX_CPU_FREQ_MHZ=80
CONFIG_BTS_MIN_CPU_FREQ_MHZ=10
CONFIG_PM_ENABLE=y
CONFIG_PM_DFS_INIT_AUTO=y
CONFIG_FREERTOS_USE_TICKLESS_IDLE=y

CONFIG_CXX_EXCEPTIONS=y

CONFIG_MBEDTLS_PSK_MODES=y
CONFIG_MAKE_WARN_UNDEFINED_VARIABLES=n

CONFIG_ESPTOOLPY_FLASHSIZE="4MB"


