# Fewer logs
CONFIG_LOG_DEFAULT_LEVEL=2
CONFIG_MAKE_WARN_UNDEFINED_VARIABLES=

# long filenames for date stamping files
CONFIG_FATFS_LFN_NONE=
CONFIG_FATFS_LFN_HEAP=y

# faster flash
CONFIG_ESPTOOLPY_BAUD=2000000

# test on CORE1 too
CONFIG_CAMERA_CORE0=
CONFIG_CAMERA_CORE1=y
CONFIG_CAMERA_NO_AFFINITY=

# spiram settings are important
CONFIG_SPIRAM_SUPPORT=y
CONFIG_SPIRAM_USE_MALLOC=y
CONFIG_SPIRAM_TYPE_AUTO=y

CONFIG_CXX_EXCEPTIONS=y

CONFIG_STACK_CHECK_NORM=y

# just to avoid compiler error
CONFIG_MBEDTLS_PSK_MODES=y

# bootloader
CONFIG_PARTITION_TABLE_FILENAME="partitions.csv"
CONFIG_ESPTOOLPY_FLASHSIZE="4MB"
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_SINGLE_APP=

# powersvaer
CONFIG_PM_ENABLE=y
# todo: check power impact
CONFIG_ESP32_DEFAULT_CPU_FREQ_MHZ=240
